@import "../../const/variables.scss";
.mainContainerCourses{
    display: flex;
    width: 78vw;
    height: 100%;
    flex-direction: row;    
    flex-wrap:wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content:space-around;
    // padding-right: 5vw;
    // padding-bottom: 10vh;
}
.courserContainer{
    padding: 20px;
    border-color: rgba(0,0,0,0.3);
    border-width: 3px; 
    border-style: groove;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
    }
    margin: 5vh;
    width: 15vw;
    height: 75vh;
    max-height: 100vh;
    text-align: justify;
    box-shadow: 5px 5px 2.5px rgba($primary, 0.3);
}

.imagenCourses{
    width: 10vw;
    height: 20vh;

}

.buttonCourser {
    width: 10vw;
    height: 3vh;
    background-color:$accent-variant ;
    overflow: hidden;
    cursor: pointer;
}

///////////////////////////////////////////////////////////////////
:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 200ms;
  }
  
  // body {
  //   // margin: 0;
  //   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //     sans-serif;
  //   -webkit-font-smoothing: antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  //   // background-color: var(--primary-bg);
  // }
  
  // code {
  //   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //     monospace;
  // }
  
  // ul{
  //   list-style: none;
  //     display: flex;
  //   flex-direction: column;
  // }
  // a {
  //   text-decoration: none;
  // }

  .ulDropdown{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    li{
      // padding: 10px  0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 10vw;
      color: black;
    }
    li:hover a{
      cursor: pointer;
      text-decoration:none;
        }
    }

  .menu-trigger{   
    display: flex;
    justify-content: center;
  } 
   
  // .dropdown-menu{
  //   position: absolute;
  //   top: 100px;
  //   right: 20px;
  //   background-color: #fff;
  //   border-radius: var(--border-radius);
  //   padding: 10px 20px;
  //   width: 200px;
  // }
  
  // .dropdown-menu::before{
  //   content: '';
  //   position: absolute;
  //   top: -5px;
  //   right: 20px;
  //   height: 20px;
  //   width: 20px;
  //   background: var(--secondary-bg);
  //   transform: rotate(45deg);
  // }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: var(--speed) ease;
    background-color:(--primary-bg, 0.5);
    // background-color: black;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
    transition: var(--speed) ease;
  }
  
  
  .h3Courser{
    // width: 100%;
    text-align: justify;
    // font-size: 18px;
    // padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: black;
    line-height: 1.2rem;
  }
  
  h3 span{
    font-size: 14px;
    color: $accent;
    font-weight: 400;
  }
  
  // .dropdown-menu ul li{
  //   // padding: 10px  0;
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  // }
  
  // .dropdown-menu ul li:hover a{
  //   color: rgb(212, 33, 9);
  //   cursor: pointer;
  // }
  
  .dropdown-menu ul li:hover img{
    opacity: 1;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem img{
    max-width: 20px;
    max-height: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
  }
  
  .dropdownItem a{
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
  }
  
///////////////////////////////////////////
@media handheld, only screen and (max-width: 767px) {
  .mainContainerCourses{
    width: 100%;  
    padding-left: 1vw;
    padding-right: 1vw;
  }  
  .courserContainer {
    width:100%;
  }
  .imagenCourses{
    width: 40vw;
    height: 20vh;

}
.buttonCourser {
  width: 40vw;
  height: 4vh;
}


}
///////////////////////////////////////////////////////////